.title-style {
    background-color:#C6E2FF;
    margin-bottom:0;
    text-align:center;
}

/* The box with a dark background and our site's title */
.title-row {
  width: 100%;
  /* Space above and below the title */
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #088DA5 /*linear-gradient(to right, #3498eb, #eb344f);

  /* Center the title using flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style of the title inside the box */
.title-row h1 {
    font-size: 3.5rem;
    color: white;
    font-variant: small-caps;
    text-align:center;
	text-shadow: 4px 4px #000000;

}

/* Style of the title inside the box */
.title-row p {
    font-size: 3rem;
    color: white;
    font-variant: small-caps;
    text-align:center;
    text-shadow: 4px 4px #000000;

}